@model Reservas.Shared.Models.RegistroViewModel
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h5> Crear Usuario</h5>
        </div>
        <div class=" card-body text-center">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label></label>
                    <input asp-for="PrimerNombre" class="form-control" placeholder=" Primer Nombre" />
                    <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="SegundoNombre" class="form-control" placeholder=" Segundo Nombre" />
                    <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="PrimerApellido" class="form-control" placeholder=" Primer Apellido" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="SegundoApellido" class="form-control" placeholder=" Segundo Apellido" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Email" class="form-control" placeholder=" Email" type="email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Contrasena" class="form-control" placeholder=" Contraseña" type="password" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Telefono" class="form-control" placeholder=" Telefono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="Direccion" class="form-control" placeholder=" Dirección" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label></label>
                    <input asp-for="EmailPersonal" class="form-control" placeholder=" Email Personal" type="email" />
                    <span asp-validation-for="EmailPersonal" class="text-danger"></span>
                </div>
                <div class=" card-footer ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}