@model Reservas.Shared.Models.RegistroViewModel
@{
    ViewData["Title"] = "Registro";
    Layout = null;
}

<!DOCTYPE html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<html>
<head>
    <style>
        body {
            background-image: url('/images/banner tecnologer.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid #ddd;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card bg-primary">
                    <div class="card-header d-flex justify-content-center">
                        <img src="/images/coworking.jpg" style="width: 150px; height: auto;" />
                    </div>
                    <div class="card-body">

                        <form asp-controller="Login" asp-action="Registro" method="post" enctype="multipart/form-data">                            
                            <input type="hidden" asp-for="RolId" />
                            <input type="hidden" asp-for="FechaRegistro"/>
                            <input class="form-control mb-3" type="text" placeholder="Primer Nombre" asp-for="PrimerNombre" required />
                            <input class="form-control mb-3" type="text" placeholder="Segundo Nombre" asp-for="SegundoNombre" required />
                            <input class="form-control mb-3" type="text" placeholder="Primer Apellido" asp-for="PrimerApellido" required />
                            <input class="form-control mb-3" type="text" placeholder="Segundo Apellido" asp-for="SegundoApellido" required />
                            <input class="form-control mb-3" type="email" placeholder="Email" required asp-for="Email" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="Contrasena" />
                            <input class="form-control mb-3" type="text" placeholder="Telefono" asp-for="Telefono" required />
                            <input class="form-control mb-3" type="text" placeholder="Direccion" asp-for="Direccion" required />
                            <input class="form-control mb-3" type="email" placeholder="EmailPersonal" required asp-for="EmailPersonal" />
                            

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-info" type="submit">Registrarse</button>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }

                            ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion", "Login")" class="text-info"> Iniciar Sesión</a>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

@if (ViewData["AlertMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            Swal.fire({
                title: 'Error',
                text: '@ViewData["AlertMessage"]',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    </script>
}

@if (ViewData["Message"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            Swal.fire({
                title: 'Exito',
                text: '@ViewData["Message"]',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        });
    </script>
}